<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pitter</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body id="app-grid">
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="changePassButton">Change Password</a></div>
    <div class="navlink"><a id="mainScreenButton" href="/maker">Main Page</a></div>
    <div class="navlink"><a id="activatePremium" href="/maker">Premium</a></div>
  </nav>

  <div id="middle">
    <section id="change">

    </section>
    <section id="MessageForm">

    </section>
    <div id="messages">

    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</body>

</html>